@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*::selection{
    background: rgb(210, 246, 6);
}

.navbar{
    z-index: 200;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 25px 0px;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #007bff;
    padding: 15px 0px;
    transition: all 0.3s ease;
}

.scrolledNavbar{
    background: #007bff;
    padding: 15px 0px;
    transition: all 0.3s ease;
}

/* media screen at 500 width */ /* media screen at 500 width */ /* media screen at 500 width */

@media screen and (max-width: 500px){
    .scrolledNavbar{
        padding: 10px 0px;
    }
}

.navbar .max-width{
    display: flex;
    justify-content: space-between;
}

.max-width{
    align-items: center;
    padding: 0 130px;
    margin: auto;

}

.menu li, .navicons div{
    list-style-type: none;
    display: inline-block;
}

.menu li a, .navicons a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
} 

.menu li a:hover, .navicons a:hover{
    color: #007bff;
}

.scrolledNavbar .menu li a:hover, .scrolledNavbar .navicons a:hover{
    color: #fff;
}

#ResumeNav{
    padding: 5px 8px;
    border: 1.5px solid #fff;
    border-radius: 10%;
}

/* home section */  /* home section */ /* home section */ /* home section */ /* home section */

.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 20px;
}



.homecontent .text1, .homecontent .text3{
    font-size: 40px;
    padding-bottom: 7px;
    font-weight: 500; 
}

.homecontent .text2{
    font-size: 90px;
    padding-bottom: 18px;
    margin-left: -4px;
    font-weight: 500;
}

.homecontent .text3 span{
    color: crimson;
    font-weight: 600;
}

.menu-bars{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}


/* about section */ /* about section */ /* about section */ /* about section */

section{
    padding: 50px 0px 40px;
}

#skills{
    padding-bottom: 0px;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0px 40px;
    font-family: 'Superior title', 'Times New Roman', sans-serif;
}



.about, .skills{
    font-family: 'Poppins', sans-serif;
}

.aboutcontent, .skillscontent{
    margin: 0px 50px;
    align-items: center;
}

.statementandphoto{
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.personal-statement{
    min-width: 65%;
    font-size: 17px;
    font-weight: 400;
    margin: 30px;
    letter-spacing: 0.8px;
}

.photo[data-name="firstPhoto"]{
    display: none;
}

.photo{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo img{
    margin: 0px;
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 8%;
    border: 4px solid black;
    box-shadow: 20px 20px 28px 0 rgb(0 0 0 / 22%);
}

.gridcontainer{
    max-width: 1300px;
    padding: 60px 30px 30px 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;

}

#grid{
    justify-content: start;
}

.grid1{
    border-bottom: 1px solid black;
    padding: 0px 25px 25px 0px;
}

.grid2{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 25px 25px 25px;
}

.grid3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 0px 25px 25px;
}

.grid4{
    padding: 25px 25px 0px 0px;
}

.grid5{
    border-left: 1px solid black;
    padding: 25px 25px 0px 25px;
}

.grid6{
    border-left: 1px solid black;
    padding: 25px 0px 0px 25px;
}

.gridheading{
    overflow: visible;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: underline;
}

.gridparagraph{
    font-size: 16px;
}


/* Skills section Skills section  Skills section  Skills section  Skills section   */

.skills{
    background-color: #F0F0F0;
}


.logoandskills{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-left-coloum{
    font-size: 15px;
    margin: 30px;
    width: 45%;
}

.skills-left-coloum[data-name="secondiconbox"]{
    display: none;
}

.icongrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    
}


.icon img{
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 2px 0px;
}

.icon p{
    margin-bottom: 10px;
}

.skills-right-coloum{
    font-size: 16px;
    margin: 30px;
    width: 35%;
}

.midheading{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.bar{
    margin-bottom: 18px;
}

.barinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bar .line{
    width: 100%;
    height: 5px;
    background-color: cyan;
    position: relative;
}

.bar .line::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #296bab;
}

.bar .html::before{
    width: 90%;
}
.bar .css::before{
    width: 90%;
}
.bar .js::before{
    width: 90%;
}
.bar .py::before{
    width: 60%;
}
.bar .node::before{
    width: 50%;
}
.bar .sql::before{
    width: 70%;
}


/* resume section */

.Resumebackground{
    position: relative; 
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Resumebackground::before {
    content: "";
    position: absolute;
    /* background: url(Photos/ResumeBackgroundImage.avif) no-repeat center; */
    background: url("https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}



.resumetext{
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.resumetext .midheading{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 15px;
}

.button{
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 40px;
    color: black;
    cursor: pointer;
    margin: auto;
    width: 200px;
    height: 80px;
    transition: all 0.5s;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.button::after{
    position: absolute;
    content: "\f35a";
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.button:hover{
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 15px 30px black;
    /* #d2bdff; */
    padding: 20px 55px;
    font-size: 30px;
}

.button:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}










/* Responsive media styles start here */

@media screen and (max-width: 1500px){
    .aboutcontent, .skillscontent{
        margin: 0px 0px;
    }
}

@media screen and (max-width: 1400px){
    .photo img{
        height: 240px;
        width: 240px;
}
}



@media screen and (max-width: 1374px){
    .skills .max-width{
        padding: 0px 100px;
    }

    .skills-left-coloum, .skills-right-coloum {
        margin: 30px 15px 30px 15px;
     }
}

@media screen and (max-width: 1314px){
    .skills-left-coloum{
        width: 50%;
    }

    .skills-right-coloum{
        width: 40%;
    }
}


/* media screen at 1300 width */ /* media screen at 1300 width */ /* media screen at 1300 width */

@media screen and (max-width: 1300px){

    .skills .max-width{
        padding: 0px 70px;
    }

    .photo img{
        height: 220px;
        width: 220px;
    }

    .homecontent .text1{
        font-size: 30px;
        padding-bottom: 7px;
        font-weight: 500; 
    }
    
    .homecontent .text2{
        font-size: 70px;
        padding-bottom: 18px;
        margin-left: -4px;
        font-weight: 600;
    }
    
    .homecontent .text3{
        font-size: 30px;
        padding-bottom: 7px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1279px){
    .gridcontainer{
        padding-top: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .grid1{
        border-bottom: 1px solid black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid2{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
    
    .grid3{
        border-left: 1px none black;
        border-bottom: 1px solid black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid4{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
    
    .grid5{
        border-left: 1px none black;
        border-bottom: 1px none black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid6{
        border-bottom: 1px none black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
}

@media screen and (max-width: 1250px){
    .photo img{
        height: 200px;
        width: 200px;
}
}




@media screen and (max-width: 1220px){
    .photo img{
        height: 180px;
        width: 180px;
    }

    .statementandphoto{
        align-items: flex-start;
    }
}


@media screen and (max-width: 1040px){
    .logoandskills{
        display: block;
    }

    .skills-left-coloum[data-name="firsticonbox"]{
        display: none;
    }

    .skills-left-coloum[data-name="secondiconbox"]{
        display: block;
    }

    .skills-left-coloum{
        margin: auto;
        padding: 30px 0px;
        text-align: center;
        width: 100%;
    }

    .skills-right-coloum .midheading{
        display: none;
    }

    .skills-right-coloum{
        padding: 30px 0px;
        text-align: center;
        margin: auto;
        width: 50%;
    }

    .icongrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

    }
}

@media screen and (max-width: 1120px){
    .photo img{
        height: 160px;
        width: 160px;
        border-radius: 15%;
    }
}

@media screen and (max-width: 1314px){
    .midheading{
        font-size: 16px;
    }
}

@media screen and (max-width: 1040px){
    .photo, .personal-statement{
       margin: 30px 15px 30px 15px;
    }

    .gridcontainer{
        padding: 30px 15px 30px 15px;
    }
    
}

/* media screen at 1080 width */ /* media screen at 1080 width */ /* media screen at 1080 width */

@media screen and (max-width: 1080px) {
    .max-width, .skills .max-width{
        padding: 0 55px;
    }
}

/* @media screen and (max-width: 1069px){
    .skills .max-width{
        padding: 0px 50px;
    } */

@media screen and (max-width: 950px){
    .skills-right-coloum{
        width: 55%;
    }
    .icongrid {
        gap: 16px;
    }
}




/* media screen at 900 width */ /* media screen at 900 width */ /* media screen at 900 width */
/* Responsive Navbar */


@media screen and (max-width: 900px) {
    .photo{
        align-items: flex-start;
        margin: 30px 0px 30px 15px;
    }

    .personal-statement, .skills-left-coloum {
        margin: 30px 15px 30px 0px;
        font-size: 15px;
     }

    .max-width, .skills .max-width{
        padding: 0 25px;
    }

    .menu-bars{
        display: block;
        z-index: 100;
    }

    .menu-bars i.active:before{
        content: "\f00d";
    }


    .menu{
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 100%;
        top: 0%;
        left: -100%;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding: 50px 0px;
        align-items: center;
        transition: all 0.3s ease;
    }

    .active{
        left: 0%;
    }

    .menu li{
        display: block;
        margin: 20px;
    }

    .menu li a{
        display: inline block;
    }

    .gridcontainer{
        padding: 30px 0px 30px 0px;
    }

    .gridheading{
        font-size: 16px;
    }
    
    .gridparagraph{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 750px){
    .photo img{
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 720px){
    .statementandphoto{
        display: flex;
        flex-wrap: wrap;
    }

    .personal-statement, .skills-left-coloum{
        margin: 20px 0px 0px 0px;
    }

    .photo{
        margin: 0;
    }

    .photo img{
        border-radius: 100%;
        height: 140px;
        width: 140px;
    }

    .photo[data-name="secondPhoto"]{
        display: none;
    }

    .photo[data-name="firstPhoto"]{
        display: flex;
    }

    /* .statementandphoto{
        justify-content: flex-end ;
    } */
}


@media screen and (max-width: 650px){
    .gridcontainer{
        padding-top: 30px;
        grid-template-columns: 1fr;
    }

    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6{
        border-bottom: 1px solid black;
        border-left: 1px none black;
        padding: 15px 0px 15px 0px;
    }

    .skills-right-coloum{
        width: 70%;
    }

    .skills-left-coloum{
        padding: 0px 30px;
    }

    .icongrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



/* media screen at 600 width */ /* media screen at 600 width */ /* media screen at 600 width */

@media screen and (max-width: 600px){
    .homecontent .text1{
        font-size: 20px;
        padding-bottom: 6px;
        font-weight: 500; 
    }
    
    .homecontent .text2{
        font-size: 60px;
        padding-bottom: 15px;
        margin-left: -4px;
        font-weight: 600;
    }
    
    .homecontent .text3{
        font-size: 20px;
        padding-bottom: 6px;
        font-weight: 500;
    }
}


@media screen and (max-width: 545px){

    .skills-right-coloum{
        width: 80%;
    }

    .skills-left-coloum{
        padding: 0px;
    }
}

@media screen and (max-width: 500px){
    .photo img{
        height: 130px;
        width: 130px;
    }

    .skills-right-coloum{
        width: 90%;
    }

    .midheading{
        font-size: 16px;
    }
}

@media screen and (max-width: 475px){

    .skills-right-coloum{
        width: 100%;
    }

    .midheading{
        font-size: 14px;
    }
}

@media screen and (max-width: 425px){
    .photo img{
        height: 120px;
        width: 120px;
    }

    .heading{
        font-size: 25px;
    }
}

@media screen and (max-width: 380px){
    .icongrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}