@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*::selection{
    background: rgb(210, 246, 6);
}

html{
    scroll-behavior: smooth;
}






.scrollupbtn{
    display: none;
}

.scrollupbtn.visible{
    display: block;
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 100px;
    z-index: 10;
}


.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }

  
  .scrollupbtn button {
      width: 55px;
      height: 55px;
      cursor: pointer;
      background-color: #5de6de;
      background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
      border: none;
      border-radius: 50%;
      transition: 200ms;
  }
  
  .scrollupbtn button svg {
      fill: white;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
  }
  
  .scrollupbtn button:before {
      content: 'Back to Top';
      position: absolute;
      transform: translateX(-50%) translateY(45px);
      font-size: 15px;
      transition: 200ms;
      color: transparent;
      font-weight: bold;
  }
  
  .scrollupbtn button:hover {
      box-shadow: 0 1px 5px rgba(0,0,0,0.2);
      width: 65px;
      height: 65px;
  }
  
  .scrollupbtn button:hover::before {
      color: #007bff;
  }
  
  .scrollupbtn button:hover svg {
          animation: bounce 2s infinite linear;
  }
  
  @keyframes bounce {
      0% {transform: translateX(-50%) translateY(-50%)}
      25% {transform: translateX(-50%) translateY(-65%)}
      50% {transform: translateX(-50%) translateY(-50%)}
      75% {transform: translateX(-50%) translateY(-35%)}
      100% {transform: translateX(-50%) translateY(-50%)}
  }
  
  .scrollupbtn button:focus {
      outline: none;
  }

  .menu-bars{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}



.navbar{
    z-index: 200;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 25px 0px;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #007bff;
    padding: 15px 0px;
    transition: all 0.3s ease;
}

.scrolledNavbar{
    background: #007bff;
    padding: 15px 0px;
    transition: all 0.3s ease;
}

/* media screen at 500 width */ /* media screen at 500 width */ /* media screen at 500 width */

@media screen and (max-width: 500px){
    .scrolledNavbar{
        padding: 10px 0px;
    }
}

.navbar .max-width{
    display: flex;
    justify-content: space-between;
}

.max-width{
    align-items: center;
    padding: 0 130px;
    margin: auto;

}

.menu li, .navicons div{
    list-style-type: none;
    display: inline-block;
}

.menu li a, .navicons a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
} 

.menu li a:hover, .navicons a:hover{
    color: #007bff;
}

.scrolledNavbar .menu li a:hover, .scrolledNavbar .navicons a:hover{
    color: #fff;
}

#ResumeNav{
    padding: 5px 8px;
    border: 1.5px solid #fff;
    border-radius: 10%;
}

/* home section */  /* home section */ /* home section */ /* home section */ /* home section */

.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}


.home .max-width{
    margin: auto 0 auto 20px;
}



.homecontent .text1, .homecontent .text3{
    font-size: 40px;
    padding-bottom: 7px;
    font-weight: 500; 
}

.homecontent .text2{
    font-size: 90px;
    padding-bottom: 18px;
    margin-left: -4px;
    font-weight: 500;
}

.homecontent .text3 span{
    color: crimson;
    font-weight: 600;
}




/* about section */ /* about section */ /* about section */ /* about section */

section{
    padding: 60px 0px 40px;
}

#skills{
    padding-bottom: 0px;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0px 40px;
    font-family: 'Superior title', 'Times New Roman', sans-serif;
}



.about, .skills{
    font-family: 'Poppins', sans-serif;
}

.aboutcontent, .skillscontent, .skillscontent{
    margin: 0px 50px;
    align-items: center;
}

.statementandphoto, .mapandcontact{
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.personal-statement{
    min-width: 65%;
    font-size: 17px;
    font-weight: 400;
    margin: 30px;
    letter-spacing: 0.8px;
}

.photo[data-name="firstPhoto"]{
    display: none;
}

.photo{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo img{
    margin: 0px;
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 8%;
    border: 4px solid black;
    box-shadow: 20px 20px 28px 0 rgb(0 0 0 / 22%);
}

.gridcontainer{
    max-width: 1300px;
    padding: 60px 30px 30px 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;

}

#grid{
    justify-content: start;
}

.grid1{
    border-bottom: 1px solid black;
    padding: 0px 25px 25px 0px;
}

.grid2{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 25px 25px 25px;
}

.grid3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 0px 25px 25px;
}

.grid4{
    padding: 25px 25px 0px 0px;
}

.grid5{
    border-left: 1px solid black;
    padding: 25px 25px 0px 25px;
}

.grid6{
    border-left: 1px solid black;
    padding: 25px 0px 0px 25px;
}

.gridheading{
    overflow: visible;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: underline;
}

.gridparagraph{
    font-size: 16px;
}

.gridparagraph a{
    color: black;
    text-decoration: underline;
}


/* Skills section Skills section  Skills section  Skills section  Skills section   */

.skills{
    background-color: #F0F0F0;
}


.logoandskills{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
}

.skills-left-coloum{
    font-size: 15px;
    margin: 30px;
    width: 45%;
}

.skills-left-coloum[data-name="secondiconbox"]{
    display: none;
}

.icongrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    
}


.icon img{
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 2px 0px;
}

.icon p{
    margin-bottom: 10px;
}

.skills-right-coloum{
    font-size: 16px;
    margin: 30px;
    width: 35%;
}

.midheading{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.bar{
    margin-bottom: 18px;
}

.barinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.bar .line{
    width: 100%;
    height: 5px;
    background-color: cyan;
    position: relative;
}

.bar .line::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #296bab;
}

.bar .html::before{
    width: 90%;
}
.bar .css::before{
    width: 90%;
}
.bar .js::before{
    width: 90%;
}
.bar .py::before{
    width: 60%;
}
.bar .node::before{
    width: 50%;
}
.bar .sql::before{
    width: 70%;
}


/* resume section */

.Resumebackground{
    position: relative; 
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Resumebackground::before {
    content: "";
    position: absolute;
    background: url("https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    overflow: hidden;
}



.resumetext{
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.resumetext .midheading{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 15px;
}

.button{
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 40px;
    color: black;
    cursor: pointer;
    margin: auto;
    width: 200px;
    height: 80px;
    transition: all 0.5s;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 15px 30px black;
    position: relative;
}

.button::after{
    position: absolute;
    content: "\f35a";
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.button:hover{
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 15px 30px black;
    /* #d2bdff; */
    padding: 20px 55px;
    font-size: 30px;
}

.button:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}


/* projects section projects section projects section projects section projects section projects section */

.projects{
    font-family: 'poppins', sans-serif;
}

.projectscontent{
    padding: 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 17px;
}

.projects-wrapper{
    margin-bottom: 30px;
}

.project-item{
    border-radius: 15px;
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.762);
    opacity: 0;
    transition: all 0.5s ease;
}

.zoom{
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    top: -50px;
    transition: all 0.3s ease;
}

.zoom i{
    font-size: 25px;
    color: #fff;
}


.project-item img{
    width: 100%; 
    height: 100%;
}

.project-info{
    position: absolute;
    bottom: -50px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    background-color: darkblue;
    transition: all 0.3s ease;
}

.project-info h3, .modal-head h3{
    margin-bottom: 0px;
}

.project-item:hover .project-info {
    bottom: 0px;
}


.project-item:hover .zoom{
    top: 130px;
}

.project-item:hover .project-overlay{
    opacity: 1;
}



.modal{
    display: none;
    z-index: 50;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: visible-modal .5s;
}

@keyframes visible-modal {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}



.modalback{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.8);
}

.modal-box{
    position: relative;
    top: 100px;
    margin: auto;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    max-width: 500px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid whitesmoke;
    overflow: scroll;
    animation: visible-box .5s;
}

@keyframes visible-box {

    from{
        top: -500px;
    }
    to{
        top: 100px;
    }
    
}

.modal-box::-webkit-scrollbar {
    display: none;
}

.modal-box{
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

.modal-head{
    background-color: #F0F0F0;
    width: 100%;
    text-align: end;
    padding: 20px 0px;
}

.modal-head h3{
    text-align: center;
}

.modal-head button{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
    font-size: 40px;
    font-weight: 600;
    border: none;
    border-radius: 100%;
    color: darkgray;
}

.modal-head button:hover{
    color: black;
}

.modal-head{
    border-bottom: 1px solid #ece0e0;
}

.modal-body{
    padding: 0px 5px 30px;
    text-align: center;
}

.modal-body img{
    width: 100%;
    height: 280px;
    padding-bottom: 10px;
}

.modal-body .paragraph{
    box-sizing: border-box;
    padding : 20px;
    text-align: center;
}


.modal-body a{
    color: #fff;
    padding: 15px 50px;
}






/* contact section contact section contact section contact section contact section  */

.Contact{
    font-family: 'poppins', sans-serif;
    background-color: #F0F0F0;
}

.mapandcontact{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.mapBox, .contactform{
    margin: 30px;
    width: 40%;
}

.mapBoxtwo{
    display: none;
    margin: 30px;
    width: 40%;
}

.phoneicon{
    position: relative;
    transform: rotate(-20deg);
}


.phonebox iframe{
    position: absolute;
    background-color: rgb(211, 211, 211);
    top: 55px;
    left: 132px;
    width: 248.5px;
    height: 392px;
}


#map {
    height: 312px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s ease;
  }

#map:hover{
    box-shadow: 0px 15px 30px #d2bdff;;
    transition: all 0.5s ease;
}


.contactform form{
    width: 100%;
}

form .fields{
    display: flex;
    justify-content: space-between;
}
.firstn, .lastn{
    width: 49%;
    
}


.contactform .field input, .contactform .field textarea, #firstname, #lastname{
    background-color: #F0F0F0;
    border: 2px solid lightgray;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding-left: 3px;
    font-size: 15px;
}

.contactform .field textarea{
    height: 110px;
}

.formbutton button, .modal-body a{
    display: inline-block;
    font-size: 18px;
	font-weight: 500;
	color: #007bff;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	background-color: #007bff;
    transition: all 0.3s ease;
}

.formbutton button{
    padding: 15px 35px;
}

.formbutton button:hover, .modal-body a:hover{
    transition: all 0.3s ease;
    background-color: darkblue;

}

.footer{
    background-color: #111;
    font-family: 'Poppins', sans-serif;

}

.footericons{
    padding: 20px 0px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footericonlist{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footericonitem{
    list-style-type: none;
}

.footericonlink{
    position: relative;
    margin: auto;
    display: inline-flex;
    font-size: 35px;
    color: #fff; 
    width: 70px;
    height: 70px;
    transition: .5s linear;
    z-index: 1;
}

.footericonlink:hover{
    color: #fff;
}


.footericonlink i{
    margin: auto;
}

.footericonlink::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.footericonlink:hover::before {  
    transform: scale(1);
  }

  .footericonitem:nth-child(1) a:hover::before{
    background-color: rgb(37, 206, 37);
  }


  .footericonitem:nth-child(2) a:hover::before{
    background-color: #e4405f;
  }

  .footericonitem:nth-child(3) a:hover::before{
    background-color: #3b5999;
  }

  .footericonitem:nth-child(4) a:hover::before{
    background-color: #4FCE5D;
  }

  .footericonitem:nth-child(5) a:hover::before{
    background-color: #cd201f;
  }

  .footericonitem:nth-child(6) a:hover::before{
    background-color: #9cdaf1;
  }

  /* #333333 */

  .footericonitem:nth-child(7) a:hover::before{
    background-color: #0077B5;
  }

.lastbit{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0px;
}

.lastbit a{
    color: orangered;
}



  
/* Responsive media styles start here */

@media screen and (max-width: 1650px){
    .projects .max-width{
        padding: 0px 50px;
    }
}

@media screen and (max-width: 1650px){
    .project-item{
        height: 250px;
    }
}

@media screen and (max-width: 1500px){
    .aboutcontent, .skillscontent, .skillscontent{
        margin: 0px 0px;
    }

    .scrollupbtn.visible{
        bottom: 80px;
        right: 0px;
    }
}



@media screen and (max-width: 1400px){
    .photo img{
        height: 240px;
        width: 240px;
}
}



@media screen and (max-width: 1374px){
    .skills .max-width{
        padding: 0px 100px;
    }

    .skills-left-coloum, .skills-right-coloum {
        margin: 30px 15px 30px 15px;
     }
}

@media screen and (max-width: 1314px){
    .skills-left-coloum{
        width: 50%;
    }

    .skills-right-coloum{
        width: 40%;
    }

    .projects .max-width{
        padding: 0px 100px;
    }

    .project-item{
        height: 300px;
    }

    .projectscontent{
        grid-template-columns: 1fr 1fr;
    }
}


/* media screen at 1300 width */ /* media screen at 1300 width */ /* media screen at 1300 width */

@media screen and (max-width: 1300px){

    .skills .max-width{
        padding: 0px 70px;
    }

    .photo img{
        height: 220px;
        width: 220px;
    }

    .homecontent .text1{
        font-size: 30px;
        padding-bottom: 7px;
        font-weight: 500; 
    }
    
    .homecontent .text2{
        font-size: 70px;
        padding-bottom: 18px;
        margin-left: -4px;
        font-weight: 600;
    }
    
    .homecontent .text3{
        font-size: 30px;
        padding-bottom: 7px;
        font-weight: 500;
    }

    .scrollupbtn.visible{
        bottom: 80px;
        right: 0px;
        width: 70px;
    }

    .Contact .max-width{
        padding: 0px 50px;
    }
}

@media screen and (max-width: 1279px){
    .gridcontainer{
        padding-top: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .grid1{
        border-bottom: 1px solid black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid2{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
    
    .grid3{
        border-left: 1px none black;
        border-bottom: 1px solid black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid4{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
    
    .grid5{
        border-left: 1px none black;
        border-bottom: 1px none black;
        padding: 0px 25px 25px 0px;
    }
    
    .grid6{
        border-bottom: 1px none black;
        border-left: 1px solid black;
        padding: 0px 0px 25px 25px;
    }
}

@media screen and (max-width: 1250px){
    .photo img{
        height: 200px;
        width: 200px;
    }

    .Contact .max-width{
        padding: 0px 25px;
    }

}




@media screen and (max-width: 1220px){
    .photo img{
        height: 180px;
        width: 180px;
    }

    .statementandphoto{
        align-items: flex-start;
    }

    .projects .max-width{
        padding: 0px 50px;
    }
}


@media screen and (max-width: 1040px){
    .logoandskills{
        display: block;
    }

    .skills-left-coloum[data-name="firsticonbox"]{
        display: none;
    }

    .skills-left-coloum[data-name="secondiconbox"]{
        display: block;
    }

    .skills-left-coloum{
        margin: auto;
        padding: 30px 0px;
        text-align: center;
        width: 100%;
    }

    .skills-right-coloum .midheading{
        display: none;
    }

    .skills-right-coloum{
        padding: 30px 0px;
        text-align: center;
        margin: auto;
        width: 50%;
    }

    .icongrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

    }
}

@media screen and (max-width: 1120px){
    .photo img{
        height: 160px;
        width: 160px;
        border-radius: 15%;
    }


    .mapBox, .contactform{
        margin: 15px 0px 0px 0px;
        width: 45%;
    }
}

@media screen and (max-width: 1314px){
    .midheading{
        font-size: 16px;
    }
}

@media screen and (max-width: 1040px){
    .photo, .personal-statement, .map{
       margin: 30px 15px 30px 15px;
    }

    .gridcontainer{
        padding: 30px 15px 30px 15px;
    }
    
}

/* media screen at 1080 width */ /* media screen at 1080 width */ /* media screen at 1080 width */

@media screen and (max-width: 1080px) {
    .max-width, .skills .max-width{
        padding: 0 55px;
    }

    .mapBox{
        position: relative;
        left: -40px;
    }
}


@media screen and (max-width: 1000px) {
    /* .mapandcontact{
        display: block;
        margin: auto;
    } */

    .mapBox{
        display: none;
        position: relative;
        left: -60px;
    }

    .phoneicon{
        transform: rotate(0deg);
    }

    .mapBoxtwo{
        margin: 15px 0px 0px 0px;
        display: block;
    }

    .project-item{
        height: 250px;
    }
}


/* @media screen and (max-width: 1069px){
    .skills .max-width{
        padding: 0px 50px;
    } */

@media screen and (max-width: 950px){
    .skills-right-coloum{
        width: 55%;
    }
    .icongrid {
        gap: 16px;
    }
}




/* media screen at 900 width */ /* media screen at 900 width */ /* media screen at 900 width */
/* Responsive Navbar */


@media screen and (max-width: 900px) {
    .photo{
        align-items: flex-start;
        margin: 30px 0px 30px 15px;
    }

    .personal-statement, .skills-left-coloum, .map {
        margin: 30px 15px 30px 0px;
        font-size: 15px;
     }

    .max-width, .skills .max-width, .projects .max-width{
        padding: 0 25px;
    }

    .menu-bars{
        display: block;
        z-index: 100;
    }

    .menu-bars i.active:before{
        content: "\f00d";
    }


    .menu{
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 100%;
        top: 0%;
        left: -100%;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding: 50px 0px;
        align-items: center;
        transition: all 0.3s ease;
    }

    .active{
        left: 0%;
    }

    .menu li{
        display: block;
        margin: 20px;
    }

    .menu li a{
        display: inline block;
    }

    .gridcontainer{
        padding: 30px 0px 30px 0px;
    }

    .gridheading{
        font-size: 16px;
    }
    
    .gridparagraph{
        font-size: 15px;
    }




    .mapandcontact{
        display: block;
        margin: auto;
    }

    .mapBoxtwo, .contactform{
        padding: 30px 0px 30px;
        margin: auto;
        text-align: center;
        width: 60%;
    }

    .mapBoxtwo{
        width: 80%;
    }

    .project-item{
        height: 220px;
    }

    .project-item:hover .zoom{
        top: 100px;
    }
    
}

@media screen and (max-width: 750px){

    .photo img{
        height: 150px;
        width: 150px;
    }

    .mapBoxtwo, .contactform{
        width: 70%;
    }

    .mapBoxtwo{
        width: 90%;
    }

    .project-item{
        height: 200px;
    }
}

@media screen and (max-width: 720px){
    .statementandphoto{
        display: flex;
        flex-wrap: wrap;
    }

    .personal-statement, .skills-left-coloum, .map{
        margin: 20px 0px 0px 0px;
    }

    .photo{
        margin: 0;
    }

    .photo img{
        border-radius: 100%;
        height: 140px;
        width: 140px;
    }

    .photo[data-name="secondPhoto"]{
        display: none;
    }

    .photo[data-name="firstPhoto"]{
        display: flex;
    }
    .projectscontent{
        grid-template-columns: 1fr;
    }

    .project-item{
        margin: 0px 50px;
        height: 300px;
    }

    .projects-wrapper {
        margin-bottom: 0px;
    }

    .modal-head{
        padding: 20px 0px;
    }



    /* .statementandphoto{
        justify-content: flex-end ;
    } */
}


@media screen and (max-width: 650px){
    .gridcontainer{
        padding-top: 30px;
        grid-template-columns: 1fr;
    }

    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6{
        border-bottom: 1px solid black;
        border-left: 1px none black;
        padding: 15px 0px 15px 0px;
    }

    .grid6{
        border-bottom: 1px none black;
    }

    .skills-right-coloum{
        width: 70%;
    }

    .skills-left-coloum{
        padding: 0px 30px;
    }

    .icongrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .mapBoxtwo, .contactform{
        width: 80%;
    }

    .mapBoxtwo{
        width: 100%;
    }

    .project-item{
        margin: 0px 20px;
        height: 250px;
    }
}



/* media screen at 600 width */ /* media screen at 600 width */ /* media screen at 600 width */

@media screen and (max-width: 600px){
    .homecontent .text1{
        font-size: 20px;
        padding-bottom: 6px;
        font-weight: 500; 
    }
    
    .homecontent .text2{
        font-size: 60px;
        padding-bottom: 15px;
        margin-left: -4px;
        font-weight: 600;
    }
    
    .homecontent .text3{
        font-size: 20px;
        padding-bottom: 6px;
        font-weight: 500;
    }

    .modal-box{
        max-width: 450px;
    }

    .modal-body img{
        height: 250px;
    }


}


@media screen and (max-width: 545px){

    .skills-right-coloum{
        width: 80%;
    }

    .skills-left-coloum{
        padding: 0px;
    }


    .scrollupbtn button {
        width: 45px;
        height: 45px;
    }
    
    .scrollupbtn button svg {
        width: 30px;
        height: 30px;
    }

    
    .scrollupbtn button:hover {
        width: 55px;
        height: 55px;
    }

    .project-item{
        margin: 0px 0px;
        height: 250px;
    }

    .project-item:hover .zoom{
        top: 70px;
    }

}

@media screen and (max-width: 500px){
    .photo img{
        height: 130px;
        width: 130px;
    }

    .skills-right-coloum{
        width: 90%;
    }

    .midheading{
        font-size: 16px;
    }

    
    .mapBoxtwo, .contactform{
        width: 100%;
    }

    .mapBoxtwo{
        width: 100%;
    }

    .scrollupbtn.visible{
        right: -10px;
    }

    .home{
        display: flex;
        background: url("Photos/HomebackgroundSmall.jpg") no-repeat center;
        height: 100vh;
        min-height: 500px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /* background-attachment: fixed; */
        overflow: hidden;
    }
}


@media screen and (max-width: 475px){

    .skills-right-coloum{
        width: 100%;
    }

    .midheading{
        font-size: 14px;
    }

    .home .max-width{
        margin: auto 0 auto 0px;
    }

}

@media screen and (max-width: 525px){
    .footericonlink{
        width: 50px;
        height: 50px;
    }
    
    
    .footericonlink::before{
        width: 50px;
        height: 50px;
    }

    .modal-box{
        max-width: 450px;
    }

    .modal-body img{
        height: 250px;
    }

}

@media screen and (max-width: 480px){
    .modal-box{
        max-width: 380px;
    }

    .modal-body img{
        height: 230px;
    }

    .modal-body .paragraph{
        padding: 0px 0px 20px;
    }
}


@media screen and (max-width: 425px){
    .photo img{
        height: 120px;
        width: 120px;
    }

    .heading{
        font-size: 25px;
    }

    .project-item{
        margin: 0px 0px;
        height: 220px;
    }

    .modal-box{
        max-width: 360px;
    }

    .modal-body img{
        height: 200px;
        padding-bottom: 15px;
    }

    .modal-body .paragraph{
        padding: 0px 0px 20px;
        font-size: 15px;
    }
}


@media screen and (max-width: 390px){
    .homecontent .text1{
        font-size: 19px;
        padding-bottom: 6px;
        font-weight: 500; 
    }
    
    .homecontent .text3{
        font-size: 19px;
        padding-bottom: 6px;
        font-weight: 500;
    }

    .project-item{
        margin: 0px 0px;
        height: 200px;
    }
}

@media screen and (max-width: 380px){
    .icongrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 370px){
    .footericonlink{
        width: 50px;
        height: 50px;
    }
    
    
    .footericonlink::before{
        width: 50px;
        height: 50px;
    }

}